option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "fe_eb_site.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "fe_eb_site/wsgi.py"
    StaticFiles: "/static/=www/static/"

packages:
  yum:
    postgresql95-devel: []
    gcc-c++: []
    gcc: []

container_commands:
  1_unixODBC:
    command: |
      sudo su
      curl https://packages.microsoft.com/config/rhel/6/prod.repo > /etc/yum.repos.d/mssql-release.repo
      exit
      sudo yum remove unixODBC unixODBC-utf16 unixODBC-utf16-devel #to avoid conflicts
      sudo yum update ;
      sudo ACCEPT_EULA=Y yum install -y msodbcsql unixODBC-devel;

      # Restart Apache to use new driver
      service httpd restart;
  02_migrate:
    command: "python manage.py migrate"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
  04_createsu:
    command: "python manage.py createsu"
    leader_only: true